fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies:
          - django==5.1.5
          - django-stubs==5.1.1
          - djangorestframework==3.15.2
          - djangorestframework-stubs==3.15.1
          - django-filter==24.3
          - django-allauth[socialaccount]==65.3.1
          - django-model-utils==5.0.0
        args: [--config-file=pyproject.toml]
        exclude: ^(migrations/|tests/|e2e/)
